h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("Dasmoto Project\Resources\pattern.webp");
}

h2{
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.hbrushes{
    background-color: mediumspringgreen;
}

.hframes{
    background-color: lightcoral;
}

.hpaint{
    background-color: skyblue;
}

strong{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}